body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0;
    
  }
  
  #hero {
    width: 626px;
    margin: 64px auto 72px ;
  }
  
  #hero img {
    margin-bottom: 32px;
  }
  
  h1 {
    font-family: 'Dosis', sans-serif;
    font-weight: normal;
    font-size: 32px;
  
  }
  
  h1 span {
    color: #EE24FF;
    font-weight: bold;
  }
  
  strong {
    color: #3F3D56 ;
  }
  
  b {
    color: #828282;
  }
  
  p {
    width: 623px;
    margin-bottom: 16px;
    color: #828282;
    
  }
  
  #line {
    width: 391px;
    height: 0px;
    margin: 0 auto 8px;
    border: 1px solid #ECEFF2; 
    margin-top: 58px;
    margin-bottom: 16px;
    
  }
  
  #footer a + a {
    margin-left: 42px;
  }
  
  #footer a {
    text-decoration: none;
  }
  
  
  
  